<!DOCTYPE html>
<html lang="jp" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>LIFF-Sample</title>
<!-- <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script> -->
	  <script type="module" src="https://line-objects-internal.com/assets/lui/edge/versions/1.11.1/luivendor.js"></script>
<!-- 	    <script type="module" src="https://line-objects-internal.com/assets/lui/edge/versions/1.11.1//lui-navigation-back.js"></script> -->
	    <script type="module" src="https://line-objects-internal.com/assets/lui/edge/versions/1.11.1/lui-navigation-bar.js"></script>
	<script type="module" src="https://line-objects-internal.com/assets/lui/edge/versions/1.11.1/lui-orientation-guard.js"></script>
	    <script type="module" src="https://line-objects-internal.com/assets/lui/edge/versions/1.11.1/lui-icon.js"></script>
        <script charset="utf-8" src="https://line-objects-internal.com/assets/liff/edge/versions/2.19.0/sdk.js"></script>
	<link href="https://static.line-scdn.net/laicon/edge/15.1/laicon.min.css" rel="stylesheet">	    
        <script defer type="text/javascript">
            document.addEventListener("DOMContentLoaded", () => {
                liff
                    .init({
                        liffId: "1651833066-jMBY9PDJ",
                        withLoginOnExternalBrowser: true, 
                    })
                    .then(() => {
                        document.getElementById('qrcode').addEventListener('click', () => {
                            liff.scanCodeV2().then(result => {
			    })
                        });
			
			     liff.getProfile()
                            .then(function (profile) {
                                document.getElementById('useridprofilefield').textContent = profile.userId;
                                document.getElementById('displaynamefield').textContent = profile.displayName;

                                var profilePictureDiv = document.getElementById('profilepicturediv');
                                if (profilePictureDiv.firstElementChild) {
                                    profilePictureDiv.removeChild(profilePictureDiv.firstElementChild);
                                }
                                var img = document.createElement('img');
                                img.src = profile.pictureUrl;
                                img.alt = "Profile Picture";
                                img.width = 200;
                                profilePictureDiv.appendChild(img);

                                document.getElementById('statusmessagefield').textContent = profile.statusMessage;
                            }).catch(function (error) {
                                window.alert("Error getting profile: " + error);
                            });
                    

                   

                        document.getElementById('add_to_home').addEventListener('click', () => {				
				if (liff.isApiAvailable('addToHomeScreen')) {
				    liff.addToHomeScreen({
					name: "LINE",
					iconUrl: "https://obs-beta.line-scdn.net/0hi2dU1wubNh1ZLCCnLGVJSntxPX9qTigWexgyezx-HU0oSQRLLjEmH3RQDVY_TwQ3LjUyJidHHkkyYAMgZiscAyB8DSw8dDc/f256x256",
// 					state: "/search?q=foo"
				    }).then((status) => {

				    }).catch(function(res) {
				      console.log("Failed to launch addToHomeScreen")
				    })
				}else {
				      console.log("isApiAvailable Error")
				}
			});
			
			
		
			
			document.getElementById('subwindow').addEventListener('click', () => {
					liff.subWindow.open({
						url: 'https://liff.line-beta.me/1651833033-3qqQE5V7',

					})

			});
			

			
			document.getElementById('iab').addEventListener('click', () => {
					liff.openWindow({
					  url: "https://liff-real.herokuapp.com/",
					  external: false,
					});

			});
			
			document.getElementById('external').addEventListener('click', () => {
					liff.openWindow({
					  url: "https://liff.line.me/1655828362-KLxYgqxg",
					  external: true,
					});

			});

                })
            });
            
        </script>
        
        
    </head>
    
    <body>
<lui-navigation-bar level="1" platform="auto" menuStyle="light">
  <div slot="left">
    <lui-navigation-back/>
    <cp-button v-if="!liff.lui.isAndroidNavigationBar">setting</cp-button>
  </div>
  <span slot="center">very </span>
  <div slot="right">
    <cp-button>favorite</cp-button>
<!--     <cp-button v-if="liff.lui.isAndroidNavigationBar">setting</cp-button> -->
  </div>
</lui-navigation-bar>
<!--         <lui-orientation-guard message="スマートフォンを縦にしてご利用ください" style="--lui-orientation-guard-background-color: #fff;
         --lui-orientation-guard-text-color: #999;
         --lui-orientation-guard-icon-color: #d0d0d0;
         --lui-orientation-guard-z-index: 9999;
  "></lui-orientation-guard> -->
	    
    <h3 id="displaynamefield"></h3>

   <div id="profileinfo">
        <h2>Profile</h2>
        <div id="profilepicturediv">
        </div>
        <table border="1">
            <tr>
                <th>userId</th>
                <td id="useridprofilefield"></td>
            </tr>
            <tr>
                <th>displayName</th>
                <td id="displaynamefield"></td>
            </tr>
            <tr>
                <th>statusMessage</th>
                <td id="statusmessagefield"></td>
            </tr>
        </table>
    </div>
                <input type="button" id="add_to_home" value="add_to_home"/>
                <input type="button" id="subwindow" value="subwindow"/>

                <input type="button" id="qrcode" value="QRcode"/>
                <input type="button" id="iab" value="IAB"/>
	        <input type="button" id="external" value="External_Browser"/>
                <a href="https://liff.line-beta.me/1651833066-zO3vlq60">LIFF_Transition</a>
	    	<a href="https://liff.line-beta.me/1651833066-jMBY9PDJ/liff">liff/line</a>
		<a href="foo://bar">Bullshit</a>
	    	<a href="javascript:void(0)" onclick="window.open('http://www.naver.com')">link text</a>
    </body>
</html>
